/*
* CSS by Hannah Kan
* Written for the use of hannahkan.com only
* © 2016 hannahkan.com
* license (http://creativecommons.org/licenses/by-nc-nd/4.0/)
*/

@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow);

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
	background: url(bg.png) fixed top right no-repeat;
	background-size: auto 100%;
}

p {
	margin-bottom: 20px;
}

a:link, a:visited {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	cursor: default;
}

a:hover {
	color: #dd5847;
}

#me {
	position: fixed;
	bottom: 0px;
	right: 3%;
	height: 90%;
}

section {
	position: fixed;
	top: 30%;
	left: 4%;
	text-align: center;
	width: 50%;
	font-size: 16px;
	line-height: 22px;
}

section img {
	margin-bottom: 5%;
}

.mobilelogo {
	display: none;
}

h1 {
	line-height: 40px;	
	font-size: 36px;
}

h1 small {
	line-height: 28px;	
	font-size: 16px;
	position: relative;
	top: -12px;
}

#nav {
	display: inline-block;
	position: relative;
	/*top: -15px;*/
}

#nav a:link, #nav a:visited {
	border-radius: 3px;
	display: inline-block;
	border: 1pt solid #000;
	padding: 3px 8px 2px 8px;
	margin: 3px;
	text-transform: uppercase;
	font-size: 9pt;
	background-color: rgba(255,255,255,0.5);
}

#nav a:hover {
	color: #fff;
	border: 1pt solid #dd5847;
	background-color: #dd5847;
}

.linkedin, .twitter, .instagram, .dribbble {
	width: 31px;
	height: 31px;
	display: inline-block;
	background-position: 0px 0px;
	margin: 3px;
}

.linkedin:hover, .twitter:hover, .instagram:hover, .dribbble:hover {
	width: 31px;
	height: 31px;
	display: inline-block;
	background-position: 31px 0px;
}

.linkedin {
	background:url(icon_linkedin.png);
}

.twitter {
	background:url(icon_twitter.png);
}

.instagram {
	background:url(icon_ig.png);
}

.dribbble {
	background:url(icon_dribbble.png);
}

